form.Center{
  align-items: center;
  align-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
div.list{
  display:flex;
  flex-direction: column;
  width: 15%;
  background-color:rgb(235, 244, 255);
  height: 100%;
}
div.courses{
  display: flex;
  flex-direction: row;
}
div.detailCourse{
  width: 85%;
  background-color: rgb(238, 242, 255);
  display: flex;
  flex-direction: row;
}
div.courseBasicInfo{
  align-items: center;
  align-content: center;
  background-color: rgb(211, 223, 255);
  border-radius: 5px;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  height: fit-content;
}
div.schedule{
  align-items: center;
  align-content: center;
  background-color: rgb(211, 223, 255);
  border-radius: 5px;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px; 
  margin: 10px;
  height: fit-content;
}
div.selectTeacher{
  background-color: rgb(211, 223, 255);
  border-radius: 5px;
  height: fit-content;
  width: 270px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px; 
}

div.scheduleItem{
  border: 2px;
  border-color: rgb(144, 174, 255);
  border-style: solid;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
}